<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Главные теги -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="Kudryavtsev Nicolay" />

    <!-- Фавиконы -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="img/favicon/android-chrome-192x192"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="img/favicon/android-chrome-512x512"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- Мета-данные сайта (для поисковиков) -->
    <title><%=data4index.siteTitle%></title>
    <meta name="description" content="<%=data4index.metaDescr%>" />
    <meta name="keywords" content="<%=data4index.metaKeyWords%>" />

    <!-- Необязательные -->
    <meta name="rating" content="general" />
    <meta name="copyright" content="Copyright 2023" />

    <!-- Для мобильных устройств -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- http-equiv -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Подключаем CSS, JQuery -->
    <link href="css, scss/Styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Подключаем доп. файл с функциями -->
    <!-- <script src="js/Script.js"></script> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </head>
  <body>
    <!-- Поле навигации по сайту -->
    <div class="header">
      <a href="/" class="logo">
        <img
          src="<%=data4index.ParserLogo %>"
          width="100"
          height="41"
          alt="ParSir's Logo"
          style="width: max-content"
        />
      </a>
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
      </div>
    </div>

    <div class="header_field">
      <div style="display: flex; flex-grow: 2"></div>
      <img class="header_img" src="/img/logo-color.png" />
      <div class="header_label">
        <h3>
          <b style="text-shadow: 2px 2px 2px rgb(255, 255, 255)">ParSir</b>
          – сервис сбора данных о товарах с интернет магазинов.
        </h3>
        <p></p>
      </div>
    </div>
    <h1>Responsive Header</h1>
    <p>Resize the browser window to see the effect.</p>
    <p>Some content..</p>

    <!-- <div class="block1" style="display: block">
      <nav class="navigation_bar">
        <div class="logo">
          <img
            src="<%=data4index.ParserLogo %>"
            width="100"
            height="41"
            alt="ParSir's Logo"
          />
        </div>
        <ul class="nav_items">
          <li><a href="/"> Home</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">About</a></li>
        </ul>
        <div class="empty_space"></div>

        <div
          id="profile_dropdown"
          class="flex-shrink-0 dropdown"
          style="margin-right: 1em"
        >
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="./img/favicon/favicon-32x32.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul
            class="dropdown-menu text-small shadow"
            style="font-family: Calibri"
          >
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Help</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

        
      </nav>
    </div>

    <div class="pic">
      <img id="img1" src="/img/logo.png" />
    </div>
    
    <div class="main">
      <h1>DDAFAF</h1>
    </div> -->

    <!-- Эффект паралакса для страниц сайта -->
  </body>
</html>
